@media only screen and (max-width: 600px) {
    .Nav .desk{
        /* display: none; */
        display: block;
        /* flex-direction: column; */
        padding: 1rem;
        margin: 1rem;
        border-radius: 10px;
        /* justify-content: center; */
    }
    .Nav .desk .links{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin: .5rem;
      }    
      .Nav .desk .links a{
        font-size: 1rem;
      }  
      .Nav .desk .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: .5rem;
        padding: .5rem;
        gap: .5rem;
      }

      .Header{
        flex-direction: column;
        margin: 2rem 4rem;
        gap: 1rem;
      }
      .Header .buttons{
        flex-direction: column;
        gap: 0;
      }
      .Header .buttons .link2{
        padding: .6rem 5rem .6rem 1rem;
        border: 1px;
        /* border-radius: 100px; */
      }
      .Header .avatar{
        padding: 1rem;
      }
      .Header .avatar .pictures{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }
      .sponsors{
        margin: 1rem;
        gap: 2rem;
      }
      .sponsors .links{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
      }

      .Clearlink{
        margin: 3rem 2rem;
        gap: 4rem;
      }
      .Clearlink .head{
       gap: .5rem;
      }
      .Clearlink .description{
        flex-direction: column;
        gap: 2rem;
      }
      .Clearlink .description .image img{
        width: 350px;
        height: 300px;
      }

      .Shopify{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        margin: 3rem 2rem;
        /* width: 80vw; */
        padding: 2rem 3rem;
      }
      .Shopify .img img{
        width: 400px;
      }
      .Faq{
        flex-direction: column;
        /* align-items: center */
        margin: 2rem 4rem;
        gap: 3rem;
      }
      .Faq .texts .head .text{
        gap: 2rem;
      }
      .Last{
        flex-direction: column;
        margin: 4rem 3rem;
        gap: 4rem;
      }
      .Last .image img{
        width: 320px;
        height: 250px;
      }
      .footer{
        padding: 3rem;
        margin: 1rem;
        align-items: center;
      }
      .footer .footerLinks{
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .footer .footerLinks .links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        /* align-items: center; */
      }
      .footer .footerLinks .links .first #one{
        font-size: 1.2rem;
      }
      .footer .footerLinks .app{
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;
        margin-left: 0;
      }
      .footer .foot{
        flex-direction: column;
        gap: 1rem;
      }
}